{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
    <div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">

        <!-- Contenedor de todo -->
        <div class="col-8 col-md-4 d-flex flex-column justify-content-center align-items-center">

            <!-- Contenedor del logo -->
            <div class="row w-100">
                <div class="col d-flex flex-row justify-content-start px-0 pb-2">
                    <img src="{% static 'img/logo.png' %}" class="main-logo" alt="Comunidapp logo">
                    <p class="my-auto font-weight-bold font-logo mx-1" style="font-size: .9 rem;"">Diagnoticapp</p>
                </div>
            </div>

            <!-- Contenedor del formulario -->
            <div class=" container-fluid p-0 mb-3">
                    <div class="container p-0">
                        <p class="font-weight-bold" style="font-size:.9rem;">Registrate</p>
                    </div>

                    <!-- Mensaje de exito -->
                    {% if messages %}
                    <div class="alert alert-success text-center">
                        {% for message in messages %}
                        <strong>{{message}} </strong>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Formulario -->
                    <form method="POST" class="container p-0 m-0">
                        {% csrf_token %}

                        <!-- Errores de cada campo -->
                        <div class="form-group p-0 m-0">
                            {% if form.errors %}
                            <div class="alert alert-danger " style="font-size: 12px;">
                                <strong>Corrigue los siguientes errores:</strong>
                                <ul class="list-group-flush">
                                    {% for field in form %}
                                    {% if field.errors %}
                                    <a class="list-group-item list-group-item-danger list-group-item-action text-reset text-decoration-none"
                                        href="#id_{{field.name}}">{{field.errors|striptags}}</a>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <!-- Errores sin campo asociado -->
                            {{ form.non_field_errors }}

                            <!-- Campos ocultos -->
                            {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                            {% endfor %}

                            <!-- Campo de cada formulario -->
                            {% for field in form.visible_fields %}
                            {{ field|addclass:'form-line p-0 w-100 mt-2 mb-2 input-text-size' }}
                            <!-- Texto de ayuda de cada formulario -->
                            <small class="text-muted">
                                {{ field.help_text }}
                            </small>
                            {% endfor %}

                            <!-- Link de regreso al Login -->
                            <div class="container m-0 p-0">
                                <p class="text-left font-weight-light" style="font-size:.8rem;">¿Ya tienes
                                    cuenta? 
                                    <a href="{% url 'login' %}" style="font-size:.8rem;">
                                        Ingresa
                                    </a>
                                </p>
                            </div>
                            <div class="container p-0 d-flex flex-column align-items-end">
                                <input class="btn btn-sm btn-submit" type="submit" name="sumbit" value="¡Regístrame!">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>

</html>